body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700px;
  color: #000000;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  background: #f9f5f3 url("../img/index-content_bg.jpg");
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

/*шапка сайта*/

.main-header {
  height: 75px;
  margin-bottom: 55px;
  color: #ffffff;
  background-color: #000000;
}

.main-shop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-shop>a {
  list-style: none;
  color: white;
  text-decoration: none;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 22px;
}

/*Список меню*/

.main-shop-navigation {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-shop-navigation li {
  font-size: 16px;
  line-height: 20px;
}

.main-shop-navigation li a {
  position: relative;
  padding: 25px 20px;
  list-style: none;
  color: white;
  text-decoration: none;
}

.main-shop-navigation li .active::after {
  position: absolute;
  content: "";
  right: 20px;
  left: 20px;
  height: 5px;
  bottom: -2px;
  background-color: #fefdfd;
}

.main-shop-navigation li a:hover::after {
  position: absolute;
  content: "";
  right: 20px;
  left: 20px;
  height: 5px;
  bottom: -2px;
  background-color: #fefdfd;
}

.main-shop-navigation li a:hover {
  background-color: #242424;
}

/*Кнопка вход*/

.login {
  position: relative;
  padding: 25px 20px;
  padding-left: 50px;
  text-decoration: none;
  color: #ffffff;
}

.login::before {
  position: absolute;
  content: "";
  background: url("../img/sprite.png") no-repeat;
  background-position: -165px -64px;
  width: 16px;
  height: 16px;
  top: 28px;
  left: 20px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.login:hover {
  background-color: #242424;
}

/*Средства для ухода*/

.container h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 55px;
}

.breadcrumbs li {
  position: relative;
  padding-right: 40px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs .current {
  color: #d8d6d3;
}

/*черые прямоугольники после слов*/

.breadcrumbs li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 8px;
  right: 15px;
  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs li:last-child::before {
  display: none;
}

/*основная часть*/

.main-shop-product {
  display: flex;
  margin-bottom: 40px;
  }

/*левая колонка квадраты*/

.name-product {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 170px;
  padding-right: 50px;

}

.name-product h2:first-child {
  margin-top: 0;
}

.checkbox-product {
  display: flex;
  position: relative;
  padding: 10px;
  padding-left: 40px;
  cursor: pointer;
}

.checkbox-product input[type="checkbox"] {
  display: none;
}

.checkbox-product input[type="checkbox"]+.square {
  position: absolute;
  border: 2px solid #000000;
  width: 17px;
  height: 17px;
  top: 23px;
  left: 0;
}
.checkbox-product:nth-child(n+3) input[type="checkbox"]+.square {
  top: 13px;
}
.checkbox-product input[type="checkbox"]:checked+.square::before, .checkbox-product input[type="checkbox"]:checked+.square::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  top: 8px;
  left: 1px;
  background-color: #000000;
}

.checkbox-product input[type="checkbox"]:checked+.square::before {
  transform: rotate(45deg);
}

.checkbox-product input[type="checkbox"]:checked+.square::after {
  transform: rotate(-45deg);
}

/*левая колонка круги*/

.checkbox-product input[type="checkbox"]+.circle {
  position: absolute;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  top: 13px;
  left: 0;
}

.checkbox-product:nth-last-child(n+3) input[type="checkbox"]+.circle {
  top: 22px;
}

.checkbox-product input[type="checkbox"]:checked+.circle::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  background: #000000;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px;
}
/* Кнопка */
.btn {
  text-transform: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 30px;
  margin-top: 15px;
  background-color: #000000;
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 16px;
  text-align: center;
  line-height: 24px;
}

.btn:hover, .btn:active {
  background-color: #663d15;
}
/*фото-цена товара*/
 .picture {
  display:flex;
  flex-wrap: wrap;
}

.catalog-items {
  box-sizing: border-box;
  padding: 15px;
  margin: 15px;
  margin-left: 0;
  margin-top: 0;
  width: 235px;
  background: #ffffff;
  box-shadow: 0 0 10px 3px #ebe9e8;
}
.catalog-items:nth-child(n+4) {
  margin-bottom: 0;
}

.catalog-items:nth-child(3n+3) {
  margin-right: 0;
}
.slider input[type="radio"] {
  display: none;
}
.slider-inner {
    overflow: hidden;
}

.slider-slides {
    width: 500%;
  transition: transform 0.8s ease;
}

.slider-slides img {
  float: left;
  width: 220px;
  height: 165px;
}

.slider-controls {
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  background-color: #cccccc;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  transition: background-color 0.2s;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"],
#btn-5:checked ~ .slider-controls label[for="btn-5"],
#btn-6:checked ~ .slider-controls label[for="btn-6"],
#btn-7:checked ~ .slider-controls label[for="btn-7"],
#btn-8:checked ~ .slider-controls label[for="btn-8"],
#btn-9:checked ~ .slider-controls label[for="btn-9"],
#btn-10:checked ~ .slider-controls label[for="btn-10"],
#btn-11:checked ~ .slider-controls label[for="btn-11"],
#btn-12:checked ~ .slider-controls label[for="btn-12"],
#btn-13:checked ~ .slider-controls label[for="btn-13"],
#btn-14:checked ~ .slider-controls label[for="btn-14"],
#btn-15:checked ~ .slider-controls label[for="btn-15"],
#btn-16:checked ~ .slider-controls label[for="btn-16"],
#btn-17:checked ~ .slider-controls label[for="btn-17"],
#btn-18:checked ~ .slider-controls label[for="btn-18"],
#btn-19:checked ~ .slider-controls label[for="btn-19"] {
  background-color: #666666;
}
/* 1 */
#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translateX(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translateX(-220px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translateX(-440px);
}
/* 2 */
#btn-4:checked ~ .slider-inner .slider-slides {
  transform: translateX(0);
}

#btn-5:checked ~ .slider-inner .slider-slides {
  transform: translateX(-220px);
}

#btn-6:checked ~ .slider-inner .slider-slides {
  transform: translateX(-440px);
}
/* 3 */
#btn-7:checked ~ .slider-inner .slider-slides {
  transform: translateX(0);
}

#btn-8:checked ~ .slider-inner .slider-slides {
  transform: translateX(-220px);
}

#btn-9:checked ~ .slider-inner .slider-slides {
  transform: translateX(-440px);
}
/* 4 */
#btn-10:checked ~ .slider-inner .slider-slides {
  transform: translateX(0);
}

#btn-11:checked ~ .slider-inner .slider-slides {
  transform: translateX(-220px);
}

#btn-12:checked ~ .slider-inner .slider-slides {
  transform: translateX(-440px);
}
/* 5*/
#btn-13:checked ~ .slider-inner .slider-slides {
  transform: translateX(0);
}

#btn-14:checked ~ .slider-inner .slider-slides {
  transform: translateX(-220px);
}

#btn-15:checked ~ .slider-inner .slider-slides {
  transform: translateX(-440px);
}
/* 6 */
#btn-16:checked ~ .slider-inner .slider-slides {
  transform: translateX(0);
}

#btn-17:checked ~ .slider-inner .slider-slides {
  transform: translateX(-220px);
}

#btn-18:checked ~ .slider-inner .slider-slides {
  transform: translateX(-440px);
}
.catalog-items p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: #000000;
}

.catalog-items-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.catalog-items-price {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 45px;
  background: #e5e5e5;
}

.catalog-items-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-basis: 70px;
  height: 45px;
  background: #000000;
  color: #ffffff;
  text-decoration: none;
}
.catalog-items-buy:hover,
.catalog-items-buy:active {
  background-color: #663d15;
}
.button-down {
  display: flex;
  margin-left: 370px;
  margin-bottom: 50px;
}
.btn-down {
  margin: 0;
  padding: 10px 20px;
  margin-left: 10px;
}
/*Подвал*/
.main-footer {
  color: #ffffff;
  margin-top: 50px;
  background: #232323 url("../img/footer_bg.png");
  padding-top: 55px;
}

.container-down {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-footer a {
  color: #ffffff;
}

.footer-social {
  margin-right: 85px;
  text-align: center;

}
.social-btn {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  margin: 0 2px;
  width: 43px;
  height: 43px;
  background: #000000 url("../img/sprite.png") no-repeat
  center;
  transition:  background-color 0.2s;
}
.social-btn-vk {
  background-position: -2px 5px;
}
.social-btn-fb {
  background-position: -52px 5px;
}
.social-btn-inst {
  background-position: -100px 5px;
}
.social-btn:hover {
  background-color: #ffffff;
}
.social-btn-vk:hover {
  background-position: -2px -57px;
}
.social-btn-fb:hover {
  background-position: -52px -57px;
}
.social-btn-inst:hover {
  background-position: -100px -57px;
}

.footer-copyright p {
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin-top: 0;
  margin-right: 0;
}
.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

/*всплывающая форма*/
.modal-content {
  position: fixed;
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 300px;
  padding: 50px 80px;
  color: #000000;
  background: #e5e5e5;
  box-shadow: 0 0 10px 3px #ebe9e8;
}
.modal-content-show {
  display: block;
}

.modal-content-close {
  position: absolute;
  top:0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::after,
.modal-content-close::before {
  position: absolute;
  content: "";
  background-color: #d0d0d0;
  top:10px;
  left:0px;
  width: 22px;
  height: 3px;
}
.modal-content-close::after {
  transform: rotate(45deg);
}
.modal-content-close::before {
  transform: rotate(-45deg);
}
.modal-content-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}
.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.login-form input.icon-user {
  background-image: url("../img/sprite-form.png");
  background-repeat: no-repeat;
  background-position: 260px 50%;
  }
.login-form input.icon-password {
  background-image: url("../img/sprite-form2.png");
  background-repeat: no-repeat;
  background-position: 260px 50%;
  }
.login-form .restore {
  float: right;
  color: #000000;
}
.login-form .btn {
  width: 100%;
  margin-top: 15px;
}
.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.login-checkbox input[type="checkbox"] {
  display: none;
}
.login-checkbox input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  border: 2px solid #000000;
  width: 17px;
  height: 17px;
  top: -3px;
  left: 0;
}
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
content: "";
position: absolute;
width: 15px;
height: 2px;
top:8px;
left:1px;
background-color: #000000;
}
.login-checkbox input[type="checkbox"]+.checkbox-indicator::before {
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]+.checkbox-indicator::after {
  transform: rotate(-45deg);
}
